/*CSS Reset*/
body, html {
    height: auto;
    margin: 0;
    }
    
    body {
    margin: 2rem auto;
    font-size: 1rem;
    width: 76%;
    font-family:'Open Sans','Helvetica', 'Arial', sans-serif;
    color: #888;
}

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 150px 1fr;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 1rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: .21rem;
  }
 
nav ul, footer ul {
    padding: 20px 0;
    list-style: none;
    text-transform: uppercase;
}
nav ul li {
    border-bottom: 2px solid #333;
}
nav ul li a:hover {
    color: #999;
    border-bottom: 2px solid #fff;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-weight: 300;
}
h2 {
    font-size: 2.6em;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
font-family:'Montserrat','Helvetica', 'Arial', sans-serif;
color: #666;
font-weight: 500;
}
p {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 20px;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.site-avatar img {
    border-radius: 50%;
    max-width: 129px;
}
.site-name {
    margin-bottom: 0px;
  }

.site-description {
    margin-top: 0px;
  }

.icons-social i {
  	font-size: 2.28em;padding: 10px;
}

#main, header, footer { padding:  0 10px;}

ul.posts li span, .meta { text-transform: uppercase; font-size: .92em }
