<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}
    {% include meta.html %}

  </head>

  <body>
    <header>

      {% include nav.html %}

      <div id="grid">
        <div>
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}"/></a>
        </div>
        <div>
          <h1 class="site-name">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
          </h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
      </div>
    </header>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <!-- /.container -->

    {% include footer.html %}

  </body>
</html>